.login-container {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translate(0, -50%);
  width: 20%;
  height: 85vh;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.login-heading {
  color: #004996;
}

.input-label {
  color: rgb(116, 114, 114);
  font-size: 0.8em;
  margin-top: 30px;
}

.error-message {
  color: red;
}

.input-box {
  border: none;
  border-bottom: 1px solid rgb(116, 114, 114);
  outline: none;
  width: 90%;
  padding: 15px 8px 1px 0px;
  margin: 10px 0;
  font-size: 1.1em;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1em;
}

.login-container .google-signin {
  border: 1px solid #3e7de3;
  padding: 0 5px;
  width: fit-content;
  align-self: center;
  color: white;
  background-color: #3e7de3;
  display: flex;
  gap: 10px;
}

.login-container .google-signin img {
  align-self: center;
}

.login-container button:disabled {
  background-color: rgb(191, 189, 189);
  cursor: not-allowed;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.line {
  flex: 1;
  border-bottom: 1px solid rgb(217, 214, 214);
  margin: 0 10px;
}

.or {
  padding: 0 10px;
  font-size: 1em;
  color: black;
}

@media (max-width: 576px) {
  .login-container {
    width: 80vw;
    height: 80vh;
    padding: 15px 15px;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
