body {
  font-size: 1.2rem;
}
.outer-container {
  background-color: rgb(5, 5, 117);
  width: 100vw;
  height: 100vh;
}

.inner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 8%;
  background-color: #ffffff;
  text-align: left;
  margin-left: 20px;
}

.contact-link {
  color: #007bff;
}

@media (max-width: 576px) {
  .inner-container {
    display: none;
  }
}
